{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="card o-hidden border-0 shadow-lg my-4">
        <div class="card-body p-4">
            <div class="text-center mb-4">
                <h1 class="h4 text-gray-900">{{ accion }} Documentacion</h1>
            </div>

            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                {{message}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                {% endfor %}
            {% endif %}

            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="id_fechanota">Fecha Nota</label>
                        {{ form.fechanota }}
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="id_nota">Nota</label>
                        {{ form.nota }}
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="id_tipo">Tipo</label>
                        {{ form.tipo }}
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="id_fechaexpediente">Fecha Expediente</label>
                        {{ form.fechaexpediente }}
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="id_fechaexpediente">Nomenclatura </label>
                        {{ form.nomenclatura }}
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="id_descripcion">Descripcion </label>
                        {{ form.descripcion }}
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="id_monto">Monto </label>
                        {{ form.monto }}
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="id_decreto">Decreto </label>
                        {{ form.decreto }}
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="id_fechadecreto">Fecha Decreto </label>
                        {{ form.fechadecreto }}
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="id_fechadecreto">Observaciones </label>
                        {{ form.observaciones }}
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="id_fechadecreto">Estado </label>
                        {{ form.estado }}
                    </div>
                </div>


                <!-- Botones -->
                <div class="form-row mt-4">
                    <div class="col-md-6 mb-2">
                        <button type="submit" class="btn btn-primary btn-block">
                            <i class="fas fa-save"></i>
                            Guardar
                        </button>
                    </div>
                    <div class="col-md-6 mb-2">
                        <button type="button" class="btn btn-secondary btn-block" onclick="Volver()">
                            <i class="fas fa-undo"></i> Volver
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}


{% block js %}
<script>
    
    function Volver() {
        window.location.replace("/documentaciones/lista/");
    }

</script>
{% endblock %}
