{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="card o-hidden border-0 shadow-lg my-4">
        <div class="card-body p-4">
            <div class="text-center mb-4">
                <h1 class="h4 text-gray-900">{{ accion }} Remito </h1>
            </div>

            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                {{message}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                {% endfor %}
            {% endif %}

            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="id_fecha">Fecha</label>
                        {{ form.fecha }}
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="id_destinatario">Destinatario</label>
                        {{ form.destinatario }}
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="id_textodestinatario">Texto Destinatario</label>
                        {{ form.textodestinatario }}
                    </div>
                </div>


                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="id_destino">Destino</label>
                        {{ form.destino }}
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="id_textodestino">Texto Destino</label>
                        {{ form.textodestino }}
                    </div>
                </div>

                <!-- Botones -->
                <div class="form-row mt-4">
                    <div class="col-md-6 mb-2">
                        <button type="submit" class="btn btn-primary btn-block">
                            <i class="fas fa-save"></i>
                            Guardar
                        </button>
                    </div>
                    <div class="col-md-6 mb-2">
                        <button type="button" class="btn btn-secondary btn-block" onclick="Volver()">
                            <i class="fas fa-undo"></i> Volver
                        </button>
                    </div>
                </div>
            </form>


            <div id="ajax-detalle-form" class="card shadow p-3 mt-4" style="display:none;">
                <h5 class="text-gray-800">Editar Detalle</h5>
                <form id="form-detalle-remito">
                    <input type="hidden" id="detalle_id">

                    <div class="form-group">
                        <label>Material</label>
                        <select id="detalle_material" class="form-control"></select>
                    </div>

                    <div class="form-group">
                        <label>Cantidad</label>
                        <input type="number" id="detalle_cantidad" class="form-control">
                    </div>

                    <button type="button" class="btn btn-primary" onclick="guardarDetalle()">
                        <i class="fas fa-save"></i> Guardar
                    </button>

                    <button type="button" class="btn btn-secondary" onclick="cancelarEdicion()">
                        <i class="fas fa-times"></i> Cancelar
                    </button>
                </form>
            </div>

            <table class="table table-bordered" id="tbl-detalleremito" width="100%" cellspacing="0">
                <thead>
                    <tr>
                    <th>Material</th>
                    <th>Cantidad</th>
                    <th>Editar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for d in detallesremito%}
                        <tr>
                            <td>{{d.material.descripcion}}</td>
                            <td>{{d.cantidad}}</td>
                            <td>
                                <button type="button" class="btn btn-outline-secondary btn-sm" onclick="editarDetalle({{ d.pk }})">
                                    <i class="fas fa-pencil-alt"></i>
                                </button>

                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    
    $(document).ready(function() {
        $('#id_destino').select2();

        $('#detalle_material').select2({
            width: '100%',
            placeholder: "Buscar material...",
            minimumInputLength: 3,
            ajax: {
                url: "/remitos/buscar-materiales/",
                dataType: 'json',
                delay: 250,
                data: function(params) {
                    return {
                        q: params.term
                    };
                },
                processResults: function(data) {
                    return {
                        results: data.results
                    };
                }
            }
        });



    });

    function cancelarEdicion() {
        $("#ajax-detalle-form").slideUp();
    }

    function editarDetalle(id) {
        $.get(`/remitos/ajaxdetalleremito/${id}/`, function(data) {
            $("#detalle_id").val(data.id);
            let select = $("#detalle_material");
            select.empty();
            data.materiales.forEach(m => {
                select.append(new Option(m.descripcion, m.id));
            });
            select.val(data.material);
            $("#detalle_cantidad").val(data.cantidad);
            $("#ajax-detalle-form").slideDown();
        });
    }


    function guardarDetalle() {
        let id = $("#detalle_id").val();

        $.post(`/remitos/ajaxdetalleremito/${id}/`, {
            material: $("#detalle_material").val(),
            cantidad: $("#detalle_cantidad").val(),
            csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val()
        }, function(resp) {
            if (resp.ok) {
                location.reload();
            }
        });

    }

    function Volver() {
        window.location.replace("/remitos/lista/");
    }    

</script>
{% endblock %}
