{% extends 'base.html' %}

{% block content %}

    <div class="pure-g">
        <div class="pure-u-1-24"></div>
        <div class="pure-u-22-24">
            <h3 align="center">
                Detalle Orden
            </h3>

            <form class="pure-form">
                <fieldset class="pure-group">
                    <input type="text" id="txtFecha" class="pure-input-1" placeholder="Fecha" />

                    <select id="selectContratista">
                        {% for contratista in contratistas %}
                            <option value={{contratista.pk}}>
                                {{contratista.descripcion}}
                            </option>
                        {% endfor%}
                    </select>

                    <select id="selectObras">
                        {% for obra in obras %}
                            <option value={{obra.pk}}>
                                {{obra.descripcion.upper}}
                            </option>
                        {% endfor%}
                    </select>
                    
                    <input type="text" id="txtEncargado" class="pure-input-1" placeholder="Encargado" />
                    
                </fieldset>


                <fieldset class="pure-group">
                    <select id="selectMaterial">
                        {% for material in materiales %}
                            <option value={{material.pk}}>
                                {{material.descripcion}}
                            </option>
                        {% endfor%}
                    </select>

                    <input type="text" id="txtCantidad" class="pure-input-1-2" placeholder="Cantidad" />

                    <select id="selectUnidad">
                        {% for unidad in unidades %}
                            <option value={{unidad.pk}}>
                                {{unidad.descripcion}}
                            </option>
                        {% endfor%}
                    </select>

                    <button type="button" class="pure-button" onclick="AgregarFilaTabla()" >Agregar</button>                    

                </fieldset>

                <br>
                <br>

                <fieldset class="pure-group">
                    <table class="pure-table pure-table-horizontal" id="tblMateriales">
                        <thead>
                            <tr>
                                <th>Material</th>
                                <th>Cantidad</th>
                                <th>Unidad</th>
                                <th>Quitar</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </fieldset>

                <br>
                <br>

                <fieldset class="pure-group">
                    <button type="button" class="pure-button pure-button-primary" onclick="vertabla()">Aceptar</button>
                    &nbsp; &nbsp; &nbsp;
                    <button type="button" class="pure-button" onclick="IrListadoMaterial()">Cancelar</button>
                </fieldset>


            </form>
        </div>
        <div class="pure-u-1-3"></div>
    </div>

    {% block customjs %}


        <script>

            $(document).ready(function () {
                $("#txtFecha").val((new Date()).toLocaleDateString('es-AR'));
            });

            function getSelectedText(elementId) {
                var elt = document.getElementById(elementId);
                if (elt.selectedIndex == -1)
                    return null;
                return elt.options[elt.selectedIndex].text;
            }

            function IrListadoMaterial() {
                window.location.replace("/listadomaterial");
            }

            function AgregarFilaTabla(){
                var material = getSelectedText("selectMaterial")
                var material_id = $("#selectMaterial").val()
                var cantidad = $("#txtCantidad").val()

                if(cantidad==""){
                    cantidad = 1
                }

                var unidad = getSelectedText("selectUnidad")

                contenido = "<tr id='" + material_id +  "'>";
                contenido = contenido + "<td>"+ material +"</td>";
                contenido = contenido + "<td>" + cantidad + "</td>";
                contenido = contenido + "<td>" + unidad + "</td>";
                contenido = contenido + "<td><button type='button' onclick='QuitarFila(" + material_id + ")'>Quitar</button></td>"
                contenido = contenido + "</tr>";
                $("#tblMateriales tbody").append(contenido);
                
            }

            function QuitarFila(id){
                var fila = document.getElementById(id);
                $("#" + fila.id + "").remove();
            }

            function GrabarOrden(){
                var fecha = $("#txtFecha").val();
                var contratista = $("#selectMaterial").val();
                var encargado = $("#txtEncargado").val();
                var obra = $("#selectObras").val()

                $.ajax({
                    type: "POST",
                    url: "/ajaxgrabarorden/",
                    data: {
                        "fecha": fecha,
                        "contratista": contratista,
                        "encargado": encargado,
                        "obra": obra
                    },
                    success: function (response) {
                        console.log(response);
                    }
                });
            }


            function vertabla(){

                var tabla = document.getElementById('tblMateriales');
                var rowLength = tabla.rows.length;

                for(var i=1; i<rowLength; i+=1){
                    var indice = toString(i);
                    var row = tabla.rows[i];
                    var cellLength = row.cells.length;
                    for(var y=0; y<cellLength; y+=1){
                        var cell = row.cells[y];

                        if(y==1){
                            cantidad=cell.innerHTML;

                            console.log("id-");
                            console.log(row.id);

                            console.log("cantidad");
                            console.log(cantidad);

                        }

                    }
                }
            }


        </script>

    {% endblock %}

{% endblock %}
